<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vendor\CountrySync\Api\CountryServiceInterface" type="Vendor\CountrySync\Model\CountryService"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="vendor_countries_sync" xsi:type="object">Vendor\CountrySync\Console\Command\SyncCountriesCommand</item>
            </argument>
        </arguments>
    </type>
</config>
